.messagebox_error {
  padding: 0.3em;
  margin: 0.3em;
  background: #fcc;
  color: #200;
  border: 1px solid #bbb;
}

.messagebox_success {
  padding: 0.3em;
  margin: 0.3em;
  background: #eee;
  color: #222;
  border: 1px solid #bbb;
}

.messagebox_none {
  padding: 0.3em 0px;
  margin: 0.3em 0px;
}

.messagebox_alert {
  padding: 0.3em 0px;
  margin: 0.3em 0px;
  text-decoration: blink;
}

span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

#display-messagebox-table h2 {
  padding: 10px 0px;
  color: #778;
}

#display-messagebox-table .messagebox {
  border: 1px solid #ccc;
  margin: 5px 0px;
}

#display-messagebox-table .header {
  border-bottom: 1px solid #ccc;
  background: #ddd;
  padding: 3px;
}

#display-messagebox-table .unread .header {
  background: #dde;
}

#display-messagebox-table .archive .header {
  background: #eee;
}

#display-messagebox-table .user {
  float: left;
  padding: 0px 3px;
  margin: 0px;
}

#display-messagebox-table .operations {
  float: right;
  padding: 0px 3px;
  margin: 0px;
}

#display-messagebox-table .message {
  padding: 3px;
  margin: 0px;
}

#messagebox_delete_all {
  color: red;
  margin-bottom: 10px;
}

#messagebox_mark_all_as_read {
  color: green;
  margin-bottom: 10px;
}
